openapi: 3.0.0
servers:
  - url: https://www.bhut.com.br
info:
  version: 1.0.0
  title: Animal Adoption API
  description: API to animal adoption web site
  contact:
    name: Animal Adoption
    url: 'https://www.animal-adoption.com.br'
    email: 'contato@animal-adoption.com.br'
  license:
    name: MIT
    url : https://api.github.com/licenses/mit
tags:
  - name: Auth
    description: Authentication related endpoints
  - name: Adoption Data
    description: Adoption Data related endpoints
  - name: Animals
    description: Animals related endpoints
  - name: People
    description: People related endpoints
  - name: Vaccines
    description: Vaccines related endpoints
  - name: Vaccinated Animals
    description: Vaccinated Animals related endpoints
  - name: Users
    description: Users related endpoints
paths:
  # AUTH ROUTES
  /auth/token:
    post:
      summary: 'Create authentication'
      description: 'Generate JWT token'
      operationId: 'postAuthToken'
      tags:
        - Auth
      requestBody:
        description: 'Data to authenticate user'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
        required: true
      responses:
        '200':
          description: 'Authenticated user JWT token'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: 'Invalid requisition'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: 'Access denied'
        '500':
          description: 'Internal error in service'
  # ADOPTION DATA ROUTES
  /adoption-data:
    get:
      summary: 'List adoption data'
      description: 'Return a list of adoption data'
      operationId: 'getAdoptionDataList'
      tags:
        - Adoption Data
      responses:
        '200':
          description: 'Sucess'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdoptionDataResponse'
        '400':
          description: 'Invalid requisition'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: 'Access denied'
        '500':
          description: 'Internal error in service'
      security:
        - JwtAuth: [ ]
  /adoption-data/{cpf_person}:
    get:
      summary: 'Adoption data by person document'
      description: 'Return adoption data by person document'
      operationId: 'getAdoptionDataByPerson'
      tags:
        - Adoption Data
      parameters:
        - name: cpf_person
          in: path
          description: 'Document of person'
          required: true
          schema:
            type: string
            example: '123.456.789-10'
      responses:
        '200':
          description: 'Sucess'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdoptionDataResponse'
        '400':
          description: 'Invalid requisition'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: 'Access denied'
        '404':
          description: Not found
        '500':
          description: 'Internal error in service'
      security:
        - JwtAuth: [ ]
  /adoption-data/{uuid_aninals}:
    post:
      summary: 'Adopt an animal'
      description: 'Adopt an animal giving person data'
      operationId: 'postAdoptionData'
      tags:
        - Adoption Data
      requestBody:
        description: 'Data to adopt an animal'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdoptionDataRequest'
        required: true
      parameters:
        - name: uuid_aninals
          in: path
          description: 'Uuid of animal'
          required: true
          schema:
            type: string
            format: uuid
            example: '35d00fad-9f28-437d-934c-6b798a23a72b'
      responses:
        '204':
          description: 'Request processed'

        '400':
          description: 'Invalid requisition'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: 'Access denied'
        '404':
          description: 'Not found'
        '500':
          description: 'Internal error in service'
      security:
        - JwtAuth: [ ]
  # ANIMALS ROUTES
  /animals:
    post:
      summary: 'Create an animal'
      description: 'Create an animal and insert into system'
      operationId: 'createAnimal'
      tags:
        - Animals
      requestBody:
        description: 'Data to create an animal'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAnimalRequest'
        required: true
      responses:
        '204':
          description: 'Request processed'

        '400':
          description: 'Invalid requisition'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: 'Access denied'
        '500':
          description: 'Internal error in service'
      security:
        - JwtAuth: [ ]
    get:
      summary: 'List animals'
      description: 'Return a list of animals'
      operationId: 'getAnimalsList'
      tags:
        - Animals
      responses:
        '200':
          description: 'Sucess'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnimalResponse'
        '400':
          description: 'Invalid requisition'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: 'Access denied'
        '500':
          description: 'Internal error in service'
      security:
        - JwtAuth: [ ]
  /animals/{uuid}:
    get:
      summary: 'Adopt an animal'
      description: 'Adopt an animal giving person data'
      operationId: 'getAnimalById'
      tags:
        - Animals
      parameters:
        - name: uuid
          in: path
          description: 'Uuid of animal'
          required: true
          schema:
            type: string
            format: uuid
            example: '35d00fad-9f28-437d-934c-6b798a23a72b'
      responses:
        '200':
          description: 'Request processed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnimalResponse'
        '400':
          description: 'Invalid requisition'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '403':
          description: 'Access denied'
        '404':
          description: 'Not found'
        '500':
          description: 'Internal error in service'
      security:
        - JwtAuth: [ ]
components:
  schemas:
    AdoptionDataResponse:
      type: object
      required:
        - uuid
        - uuid_animals
        - uuid_people
        - adoption_date
      properties:
        uuid:
          type: string
          format: uuid
          description: 'uuid of adoption data'
          example: '44cb27c4-a4ab-4cdc-a63f-afa0c181c3a5'
        uuid_animals:
          type: string
          format: uuid
          description: 'uuid of animal'
          example: '35d00fad-9f28-437d-934c-6b798a23a72b'
        uuid_people:
          type: string
          format: uuid
          description: 'uuid of person who adopted the animal'
          example: '24720bc0-0e39-4cdd-9cb1-2860ecaa30fa'
        adoption_date:
          type: string
          description: 'Date when adoption has made'
          example: '2022-06-01'
    AnimalResponse:
      type: object
      required:
        - uuid
        - name
        - age
        - sex
        - species
      properties:
        uuid:
          type: string
          format: uuid
          description: 'Uuid of animal'
          example: 'dcbb404d-fe3b-4d81-8e8a-6c6a169b1d84'
        name:
          type: string
          description: 'Name of animal'
          example: 'Zeus'
        age:
          type: integer
          description: 'Age of animal'
          example: 1
        sex:
          type: string
          description: 'Sex of animal'
          enum:
            - 'M'
            - 'F'
          example: 'M'
        species:
          type: string
          description: 'Specie of animal'
          example: 'Dog'
    AuthRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          description: 'Username to access system'
          example: 'admin@gmail.com'
        password:
          type: string
          format: password
          description: 'Password to access system'
          example: 'admin@123'
    AuthResponse:
      type: object
      required:
        - acessToken
        - tokenType
        - expiresIn
      properties:
        accessToken:
          type: string
          description: 'Jwt token'
          example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXlsb2FkIjp7InV1aWQiOiJkMzZhMGZlYS0yMmZlLTQ4MzItYmE2Mi03ZTQzMzNjMzEwMDEifSwiaWF0IjoxNjUzMTQ0OTgyLCJleHAiOjE2NTMxNDUwNDJ9.9KpVJJ9Z-6w-4hcwTVEIOUCS4ouq9j9lagJT5T2egUs'
        tokenType:
          type: string
          description: 'Token type'
          example: 'Bearer'
        expiresIn:
          type: integer
          description: 'Minutes to token expires'
          example: 60
    CreateAdoptionDataRequest:
      type: object
      required:
        - adoption_date
        - cpf_person
      properties:
        adoption_date:
          type: string
          description: 'Date the animal will be adopted'
          example: '2022-06-01'
        cpf_person:
          type: string
          description: 'Tax id of person who will adopt an animal'
    CreateAnimalRequest:
      type: object
      required:
        - name
        - age
        - sex
        - species
      properties:
        name:
          type: string
          description: 'Name of animal'
          example: 'Zeus'
        age:
          type: integer
          description: 'Age of animal'
          example: 1
        sex:
          type: string
          description: 'Sex of animal'
          enum:
            - 'M'
            - 'F'
          example: 'M'
        species:
          type: string
          description: 'Specie of animal'
          example: 'Dog'
    ValidationErrorResponse:
      required:
        - code
        - message
      properties:
        code:
          description: 'Error code'
          type: string
          example: 'INVALID_FIELD'
        message:
          description: 'Error message'
          type: string
          example: 'The field username is required'
  securitySchemes:
    JwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
